Pods/
daikin-lirc-pi.xcworkspace/xcuserdata/duonghung1269.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
daikin-lirc-pi.xcworkspace/xcuserdata/duonghung1269.xcuserdatad/xcdebugger/*
daikin-lirc-pi/GoogleService-Info.plist
